.bgContainer {
  background-color: #0f172a;
  text-align: center;
}
.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 30px;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.img {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .img {
    width: 300px;
    height: 300px;
  }
}
